body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

p {
  margin: 0;
}

.App {
  padding: 50px 200px;
}

.search {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  margin-bottom: 40px;
}

.results-section {
  width: 100%;
  height: 750px;
  border: 1px solid #d9d9d9;
}

.results-container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.results-header {
  display: flex;
  background-color: #fafafa;
  font-weight: 700;
  height: 20px;
  width: 100%;
  padding: 16px;
  margin-bottom: 10px;
}

.results-header p {
  margin: 0;
}

.left-col {
  background-color: #f5f5f5;
  overflow: auto;
  height: 650px;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.right-col {
  background-color: #f5f5f5;
  overflow: auto;
  height: 650px;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.col-header {
  background-color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 24px;
}

.col-container {

}

.filter-container {
  padding: 10px 16px;
  margin: 8px 0;
  min-height: 400px;
}

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #d9d9d9;
  height: 40px;
  margin: 8px 0;
  padding: 0 8px;
  position: relative;
  z-index: 10;
}

.filter-item-placeholder {
  background-color: #dcf4ff;
  border: 1px solid #1890ff;
  height: 40px;
  margin: 4px 0;
}

.spec-group {
  padding: 10px 16px;
  background-color: #feffe6;
  border: 1px solid #d4b106;
  min-height: 82px;
  margin: 8px 0px;
}

.title-container {
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.transfer-btn {
  margin-bottom: 8px;
}

.select-container:hover {
  background-color: #dcf4ff;
  border: 1px solid #1890ff;
}

.select-area {
  border: 2px dashed #1890ff;
}

.count {
  position: absolute;
  right: -7px;
  top: -8px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  background-color: #1890ff;
  border-radius: 50%;
  display: inline-block;
}

.hiddem {
  display: none;
}
